name: Fedora 43

env:
  FEDORA: 43

on:
  workflow_dispatch:
  push:
    branches:
      - "master"
      - "v*"

jobs:
  build:
    name: Build Kernel
    runs-on: ubuntu-latest
    steps:
      - name: Maximize disk space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 5120
          remove-dotnet: true
          remove-android: true
          remove-docker-images: true

      - name: Checkout code
        uses: actions/checkout@v6

      - name: Initialize containers
        run: |
          bash ./.github/scripts/container/create.sh \
            registry.fedoraproject.org/fedora:${{ env.FEDORA }}
      - name: Install build dependencies
        run: |
          bash ./.github/scripts/container/exec.sh \
            -- \
            bash ./.github/scripts/package/fedora.sh setup-builddeps
      - name: Build packages
        run: |
          bash ./.github/scripts/container/exec.sh \
            -- \
            bash ./.github/scripts/package/fedora.sh build-packages

      - name: List rpms
        run: |
          ls "./pkg/fedora/kernel-surface/srpm"
          echo "---------------------------------"
          ls "./pkg/fedora/kernel-surface/out/x86_64"

      - name: Create github release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          cd "./pkg/fedora/kernel-surface"
          version="$(grep -i '^PACKAGE_TAG =' build-linux-surface.py | awk '{print $3}' | tr -d '"')"
          gh release create "$version" -t "$version" --repo="${{ github.repository }}" --target="${{ github.sha }}" --generate-notes ./srpm/*.src.rpm ./out/x86_64/*.rpm

      - name: Upload src.rpm artifact
        uses: actions/upload-artifact@v5
        with:
          name: srcrpm
          path: /pkg/fedora/kernel-surface/srpm/*.src.rpm

  upload:
    name: Upload to Copr
    needs: [build]
    runs-on: ubuntu-latest
    container:
      image: quay.io/fedora/fedora:43

    steps:
      - name: Download src.rpm
        uses: actions/download-artifact@v5
        with:
          name: srcrpm

      - name: Install copr-cli
        run: dnf install copr-cli -y

      - name: Add login to copr
        run: |
          echo "${{ secrets.COPR_CREDENTIALS }}" >> "./coprConfig"

      - name: Upload to COPR
        run: copr-cli --config "./coprConfig" build LinuxSurface ./*.src.rpm
