name: Create Release Assets

on:
  push:
    branches:
      - "master"

jobs:
  buildrpms:
    runs-on: ubuntu-latest
    container:
      image: quay.io/fedora/fedora:43

    steps:
      - name: Clone code
        uses: actions/checkout@v6

      - name: Install build dependencies
        run: |
          dnf install -y rpmdevtools rpm-sign copr-cli gh rpkg python3-setuptools 'dnf-command(builddep)'
          dnf builddep -y kernel
          dnf install -y sbsigntools

      - name: Make build
        run: |
          cd "./pkg/fedora/kernel-surface"

          git config --global user.name "surfacebot"
          git config --global user.email "surfacebot@users.noreply.github.com"

          python3 build-linux-surface.py --mode srpm --ark-dir kernel-ark --outdir srpm
          rm -rf kernel-ark
          ls srpm

          find srpm -name '*.src.rpm' -type f -print0 | xargs -0 -I '{}' \
            rpmbuild -rb --define "_topdir ${PWD}/rpmbuild" --define "_rpmdir ${PWD}/out" {}

      - name: Create Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          cd "./pkg/fedora/kernel-surface"
          echo "------------------------"
          echo "out:"
          echo "------------------------"
          ls out
          echo "------------------------"
          echo "out/x86_64"
          echo "------------------------"
          ls out/x86_64
          version="$(grep -i '^PACKAGE_TAG =' build-linux-surface.py | awk '{print $3}')" | tr -d '"'
          gh release create "$version" -t "$version" --repo="${{ github.repository }}" --target="${{ github.sha }}" --generate-notes ./out/*.src.rpm ./out/x86_64/*.rpm ./out/noarch/*.rpm

      - name: Install copr-cli
        run: dnf install copr-cli -y

      - name: Add login to copr
        run: |
          echo "${{ secrets.COPR_CREDENTIALS }}" >> "./coprConfig"

      - name: Upload to COPR
        run: copr-cli --config "./coprConfig" build LinuxSurface ./pkg/fedora/out/*.src.rpm


